#h2 {
  padding-top: 222px;
  padding-left: 20px;
}

#h4 {
  color: gray;
  padding-left: 20px;
}

#img1 {
  padding-top: 25px;
  background-color: #f8d19d;
  border-radius: 50%;
}

#title {
  font-family: "Montserrat", sans-serif;
  margin-top: 50px;
  margin-left: -50px;
  margin-right: 21px;
}


.subTitles {
  font-family: "Montserrat", sans-serif;
  padding-top: 105px;
}

.question {
  margin-top: 35px;
}

#kids3 {
  margin-top: 63px;
  background-color: #fff7dd;
  border-radius: 50%;
}

#video {
  margin: auto;
  opacity: 1;
}

#videoPlayer {
  margin-left: 50px;
  width: 119px;
  height: 84px;
  border-radius: 50px;
}

.MuiButton-startIcon {
  font-size: 100px;
  align-content: center;
  align-items: center;
  padding-left: 13px;
}

.MuiSvgIcon-root {
  font-size: xx-large;
  height: 125px;
}

.MuiSwitch-track css-1yjjitx-MuiSwitch-track{
  background-color: gray;
}

#switch {
  vertical-align: middle;
  margin-left: 4px;
  font-family: "Montserrat", sans-serif;
}

.button:hover {
  color: white;
}

.accordion {
  padding: 15px;
  background-color: #ffe2d6;
  font-family: "Montserrat", sans-serif;
}

#price {
  margin-bottom: 150px;
  font-family: "Montserrat", sans-serif;
}
